# Managed by Ansible - Nomad SERVER

datacenter = "{{ hashistack_datacenter }}"
region = "{{ hashistack_region }}"
data_dir = "{{ nomad_data_dir }}"
bind_addr = "0.0.0.0"

server {
  enabled = true
  bootstrap_expect = {{ nomad_bootstrap_expect }}
}

advertise {
  http = "{{ hashistack_advertise_addr }}:4646"
  rpc  = "{{ hashistack_advertise_addr }}:4647"
  serf = "{{ hashistack_advertise_addr }}:4648"
}

consul {
  address = "127.0.0.1:8500"
  auto_advertise = true
  server_service_name = "nomad-server"
  client_service_name = "nomad-client"
}
